# NY Taxi Data Profiling with Pandas

Simple data profiling using only pandas.

## Load dataset

In [1]:
import pandas as pd

df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')
print(f"Loaded {len(df):,} rows")

Loaded 2,964,624 rows

## Column names and data types

In [2]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
dtype: object

## Null values per column (count and percentage)

In [3]:
pd.DataFrame({
    'null_count': df.isnull().sum(),
    'null_pct': (df.isnull().sum() / len(df) * 100).round(2)
})

                       null_count  null_pct
VendorID                        0      0.00
tpep_pickup_datetime            0      0.00
tpep_dropoff_datetime           0      0.00
passenger_count            140162      4.73
trip_distance                   0      0.00
RatecodeID                 140162      4.73
store_and_fwd_flag         140162      4.73
PULocationID                    0      0.00
DOLocationID                    0      0.00
payment_type                    0      0.00
fare_amount                     0      0.00
extra                           0      0.00
mta_tax                         0      0.00
tip_amount                      0      0.00
tolls_amount                    0      0.00
improvement_surcharge           0      0.00
total_amount                    0      0.00
congestion_surcharge       140162      4.73
Airport_fee                140162      4.73

## Min, max, and average for numeric columns

In [4]:
df.select_dtypes(include='number').agg(['min', 'max', 'mean']).T

                          min        max        mean
VendorID                 1.00       6.00    1.754204
passenger_count          0.00       9.00    1.339281
trip_distance            0.00  312722.30    3.652169
RatecodeID               1.00      99.00    2.069359
PULocationID             1.00     265.00  166.017884
DOLocationID             1.00     265.00  165.116712
payment_type             0.00       4.00    1.161271
fare_amount           -899.00    5000.00   18.175062
extra                   -7.50      14.25    1.451598
mta_tax                 -0.50       4.00    0.483382
tip_amount             -80.00     428.00    3.335870
tolls_amount           -80.00     115.92    0.527021
improvement_surcharge   -1.00       1.00    0.975632
total_amount          -900.00    5000.00   26.801505
congestion_surcharge    -2.50       2.50    2.256122
Airport_fee             -1.75       1.75    0.141161